<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Fitconnections_Contract>
      <version>0.1.0</version>
    </Fitconnections_Contract>
  </modules>
  <global>
    <helpers>
      <contract>
        <class>Fitconnections_Contract_Helper</class>
      </contract>
    </helpers>
    <blocks>
      <contract>
        <class>Fitconnections_Contract_Block</class>
      </contract>
    </blocks>  
    <models>
      <contract>
        <class>Fitconnections_Contract_Model</class>
        <resourceModel>contract_resource</resourceModel>
      </contract>
      <contract_resource>
        <class>Fitconnections_Contract_Model_Resource</class>
        <entities>
          <list>
            <table>contract_list</table>
          </list>
        </entities>
      </contract_resource>
    </models> 
    <resources>
      <contract_setup>
        <setup>
          <module>Fitconnections_Contract</module>
          <class>Fitconnections_Contract_Model_Resource_Setup</class>
        </setup>
      </contract_setup>
    </resources>       
  </global>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <contract after="Mage_Adminhtml">Fitconnections_Contract_Adminhtml</contract>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <frontend>
    <layout>
      <updates>
        <contract>
          <file>contract.xml</file>
        </contract>
      </updates>
    </layout>
    <routers>
      <contract>
        <use>standard</use>
        <args>
          <module>Fitconnections_Contract</module>
          <frontName>contract</frontName>
        </args>
      </contract>
    </routers> 
  </frontend>
</config> 