<?xml version="1.0"?>
<config>
    <modules>
        <Fitconnections_Locations>
            <version>0.1.0</version>
        </Fitconnections_Locations>
    </modules>
    <frontend>
        <routers>
            <locations>
                <use>standard</use>
                <args>
                    <module>Fitconnections_Locations</module>
                    <frontName>locations</frontName>
                </args>
            </locations>
        </routers>
        <layout>
            <updates>
                <locations>
                    <file>locations.xml</file>
                </locations>
            </updates>
        </layout>
    </frontend>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <hobbyking_locations after="Mage_Adminhtml">Fitconnections_Locations_Adminhtml</hobbyking_locations>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<menu>
            <hobbyking>
				<title>Locations</title>
				<sort_order>71</sort_order>  			
                <children>
                    <locations module="locations">
                        <title>Locations</title>
                        <sort_order>71</sort_order>               
                        <children>
                            <items module="locations">
                                <title>Manage Locations</title>
                                <sort_order>0</sort_order>
                                <action>adminhtml/locations</action>
                            </items>
                        </children>
                    </locations>
                </children>
            </hobbyking>
        </menu>
		<acl>
            <resources>
                <admin>
                    <children>
                        <hobbyking>
                            <title>Locations</title>
                            <sort_order>71</sort_order>
                            <children>
        						<locations module="locations">
        							<title>Locations</title>
        							<children>
        								<items translate="title" module="locations">
        									<title>Manage Locations</title>
        									<sort_order>8</sort_order>
        								</items>
        								<config translate="title">
        									<title>Configuration</title>
        								</config>
        							</children>
        						</locations>
                            </children>
                        </hobbyking>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <locations translate="title" module="locations">
                                            <title>Locations Section</title>
                                            <sort_order>50</sort_order>
                                        </locations>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<layout>
			<updates>
				<locations>
					<file>locations.xml</file>
				</locations>
			</updates>
		</layout>
        <!--<translate>
            <modules>
                <Fitconnections_Locations>
                    <files>
                        <default>Fitconnections_Locations.csv</default>
                    </files>
                </Fitconnections_Locations>
            </modules>
        </translate>-->
    </adminhtml>   
    <global>
        <models>
            <locations>
                <class>Fitconnections_Locations_Model</class>
                <resourceModel>locations_mysql4</resourceModel>
            </locations>
            <locations_mysql4>
                <class>Fitconnections_Locations_Model_Mysql4</class>
                <entities>
                    <locations>
                        <table>locations</table>
                    </locations>
                </entities>
            </locations_mysql4>
        </models>
        <resources>
            <locations_setup>
                <setup>
                    <module>Fitconnections_Locations</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </locations_setup>
            <locations_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </locations_write>
            <locations_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </locations_read>
        </resources>
        <blocks>
            <locations>
                <class>Fitconnections_Locations_Block</class>
            </locations>
        </blocks>
        <helpers>
            <locations>
                <class>Fitconnections_Locations_Helper</class>
            </locations>
        </helpers>
        <models>
            <locations>
                <class>Fitconnections_Locations_Model</class>
            </locations>
        </models>		
    </global>
</config>