<?xml version="1.0"?>
<layout version="0.1.0">
    <events_index_index>
        <reference name="root">
            <action method="setTemplate"><template>page/1column.phtml</template></action>
        </reference> 
        <reference name="content">
            <block type="events/events" name="events" template="events/events.phtml" />
        </reference>
    </events_index_index>
     <events_index_view>
        <reference name="root">
            <action method="setTemplate"><template>page/1column.phtml</template></action>
        </reference> 
         <reference name="head">
            <action method="addItem"><type>skin_css</type><name>css/easylightbox.css</name></action>
            <action method="addItem"><type>skin_js</type><name>js/lightbox.js</name></action>
        </reference>
        <reference name="content">
            <block type="events/profile" name="profile" template="events/profile.phtml" />      
        </reference>
    </events_index_view>
</layout> 
